<h1>概要</h1>

<div class="about_main">
  このサイトは、プログラミング初心者が、スクールに通い,
  講師の方に手伝っていただきながら作った意見交流サイトです。
  理念は、「直接民主制」です。
  専門家からそうでない人まで、多くの人々が自分の意見ないし、
  議論したい議題について、代表を立てるのではなく、
  自分自身が意見を表明する場です。
  挙げられた意見が正しいかどうかはひとまず置いておき、
  今人々がどういうふうに考えているのかを知ることができ、
  かつ自分の立場も表明できる、そういった場を目指して作りました。
  ただ、気軽に参加できるように、必ずしも意見を文章で表明しなくても
  賛成か反対かだけでもボタンを押すだけで表明できるようにしました。
  ぜひ気軽に参加してみてください！
</div>
