<h1 class="text-center pt-3">使い方</h1>

<div class="how_to_use_top">
  <ol>
    <li>
      まずサインアップ、ログインしてください。
      メールアドレスなどをサインアップ時求められますが、
      このサイトは試験的につくったものなので、適当なものでよろしいです。
    </li>
    <li>
      ログインすると、テーマ投稿、意見投稿ができます
    </li>
  </ol>
<div class="how_to_use_main">
  <h2 class="text-primary">テーマ投稿</h2>
  <p>
    画面上部にテーマ投稿という欄があります。それをクリックする
    と、投稿画面に移ります。ここでは、議論したい議題を設定します。
   添付画像をつけるとより良いでしょう。
   議題といっても、堅苦しい必要はありません。日常的な悩みなどでも
   大歓迎です！
  </p>
  <p>
    ただし、一つだけ注意事項があります。このサイトでは議題は必ず
    <span　　class="text-danger">
      賛成もしくは反対できるものにしてください。
    </span>
    たとえば、「同性婚は合法化すべきか」のように、それに対し
    YesかNoと言いやすいものにしてください。「〜はどうすればいいですか？」
    のような形のものは、このサイトでは扱わないことにします。
  </p>
</div>

<div class="how_to_use_main">
  <h2 class="text-primary">キーワード検索</h2>
  <p>
    画面上部のキーワード検索では、打ち込んだワードを含むテーマ(議題)
    を検索できます。
  </p>
</div>

<div class="how_to_use_main">
  <h2 class="text-primary">意見投稿</h2>
  <p>
    興味のあるテーマをクリックすると、そのテーマの画面に
    移ります。ここでは、賛成、反対、その他の３つのボタン、
    および、意見投稿ができます。
    ボタンを押すと、ボタン上部の投票数に数字が追加されます。
    この数字はその立場にある人数を表します。当然、アカウントにつき
    １つまでのみカウントされます。また、ボタンの利用
    もログインが必要ですので注意してください。
  </p>
  <p>
    意見投稿をクリックすると、意見投稿画面に移ります。
    ここでは、選んだテーマに対して意見を投稿できます。
    ボタンと違うのは、ただ、賛成反対の立場を示すだけでなく、
    その理由を発信できることです。ぜひとも発信してみましょう！
  </p>
</div>
