/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 
/*common*/

.header {
  height:130px;
}

.header h1{
  float:left; 
  padding:30px;
  font-family:arial black;
}

.header li{
  list-style:none;
  float:left;
  padding:40px;
  font-size:20px;
}

.header a{
  color:#000;
}

.header ul{
  float:right;
}

.genre{
  height:70px;
  width:1400px;
  overflow: auto;
  white-space: nowrap;
  border-bottom:solid;
  border-top:solid;
}

.genre th{
  padding:20px 30px;
}

.main{
  height:1000px;
}

.footer{
  height:130px;
  color:#FFF;
  
}

.footer li{
  list-style:none;
  padding:30px;
}

.footer a{
  color:#000;
}

/*top*/

.theme_box{
  height:200px;
}

img{
  width:200px;
  height:200px;
  float:left;
  padding:30px;
}

.theme_box h2{
  padding:20px;
}

.theme_box a{
  
  color:#000;
}

.options{
  margin-top:30px;
}

.options li{
  float:left;
  margin:10px;
  padding:10px;
  list-style:none;
  color:#000;
}

/*sample*/

.theme h1{
  text-align:center;
  margin:20px;
}

.vote{
  height:100px;
}

.vote ul{
  float:right;
}

.vote li{
  list-style:none;
  float:left;
  padding:20px;
  
}

.opinion{
  height:300px;
}

.option_box{
  float:left;
  border-left:solid 1px #808080;
  
  width:450px;
}


/* about */

.about_main{
  padding:100px;
  font-size:25px;
}

/* how_to_use */

.how_to_use_top {
  font-size: 25px;
  padding:50px;
}

.how_to_use_main{
  padding:50px;
  font-size:25px;
}



