// Place all the styles related to the opinions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.your_contribution {
  float:left;
  padding:30px;
}

.your_opinion{
  float:right;
  padding:30px;
}